body {
    font-family: "Montserrat", sans-serif;
}

.kartinki img {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0;
    padding: 0;

}

.kartinki {
    gap: 20px;
    display: flex;
}

.artem {}

.rectangle {
    /* width:1520px; */
    height: 80px;
    background: rgb(173, 173, 244);
    margin-top: -70px;
}

.obchi_text {}

.container {
    width: 1170px;
    margin: 0 auto;
}

.navbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.obchi_img {}

.programist_img {
    width: 300px;
    height: 300px;
}

.obchi {
    display: flex;
}

.textik {
    text-align: center;
}

.square {
    width: 300px;
    height: 250px;
    background-color: lightblue;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    position: relative;

}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    line-height: 300px;
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

.wrapper:hover {
    opacity: 1;
}

.glavni_square {
    display: flex;
    justify-content: space-between;

}

.sait1 {
    width: 100%;
    height: 100%;
}

.sait2 {
    width: 100%;
    height: 100%;
}

.sait3 {
    width: 100%;
    height: 100%;
}

.textus {
    text-align: center;

}

.odshi_textus {
    display: flex;
    justify-content: space-between;

}

header {
    padding-top: 100px;
    padding-bottom: 50px;
}

.tekst_tri {
    width: 650px;
}

.obchi {
    display: flex;
    justify-content: space-between;
}

.moi_raboti {
    padding-bottom: 100px;
}